.code-area{
   position: relative;

    button{
        position: absolute;
        right: 10px;
        top: 10px;
    }

    textarea {
        width: 100%;
        height: 200px;
        margin: 0;
        padding: 0;
    }
}

.reset-button{
    margin: 20px;
    background-color: darkseagreen;
    font-size: large;
    padding: 10px;
}

.code-button{
    background-color: cyan;
    font-size: large;
    padding: 10px;
    border-radius: 10px;
}